/* Body styling */
.body {
    margin: 0; /* Menghapus margin default pada body */
    background-color: #f0f4f8; /* warna latar abu-abu  */
}

/* Background styling */
.background {
    height: 500px; /*  tinggi  background */
    background-image: url('back2.jpg'); 
    background-size: cover; /*  gambar menutupi seluruh area background */
    
}

/* penjelas styling */
.penjelas {
    display: grid; /* Menggunakan grid untuk tata letak */
    grid-template-columns: repeat(5, 1fr); /* 5 kolom dengan lebar sama */
    gap: 20px; /* jarak kesamping antar kolom */
    padding: 50px; /*  jarak background ke kolom */
    max-width: 1200px; /* Menentukan lebar maksimum container */
    margin: 0 auto; /* Menyelaraskan container di tengah halaman */
    
}


.skincare {
    background-color: #ffffff; /*  latar belakang putih untuk 'skincare'. */
    border-radius: 15px; /*  sudut elemen melengkung dengan radius 15px. */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* bayangan lembut di sekitar elemen dengan sedikit offset. */
    /*0: Bayangan tidak bergeser secara horizontal, 4px: Bayangan bergeser 4 piksel ke bawah, 10px: radius bayangan blur sebesar 10 piksel (soft), Warna bayangan adalah hitam dengan transparansi 10%.*/
    text-align: center; /* text di tengah*/
    padding: 30px; /* jarak kolom ke background */
    margin: 0 auto; /* Menjadikan elemen di tengah */
    max-width: 300px; /* Batasi lebar elemen agar teks tidak terlalu panjang */
}
.skincare img {
    width: 80px; /* lebar gambar  */
    height: 80px; /* tinggi gambar */
}


.makeup{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* text di tengah*/
    padding: 30px; /* jarak kolom ke background */
    margin: 0 auto; /* Menjadikan elemen di tengah */
    max-width: 300px; /* Batasi lebar elemen agar teks tidak terlalu panjang */
}
.makeup img{
    width: 80px;
    height: 80px; 
}


.rambut{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* text di tengah*/
    padding: 30px; /* jarak kolom ke background */
    margin: 0 auto; /* Menjadikan elemen di tengah */
    max-width: 300px; /* Batasi lebar elemen agar teks tidak terlalu panjang */
}
.rambut img{
    width: 80px;
    height: 80px; 
}


.kontak{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* text di tengah*/
    padding: 30px; /* jarak kolom ke background */
    margin: 0 auto; /* Menjadikan elemen di tengah */
    max-width: 300px; /* Batasi lebar elemen agar teks tidak terlalu panjang */
}
.kontak img{
    width: 80px;
    height: 80px; 
}

.penutup { 
    position: absolute; 
    bottom: 20px; /* Berada di bawah dengan jarak 20px dari bawah */
    left: 50%; /* Berada di tengah horizontal */
    transform: translateX(-50%); /* Menyesuaikan agar benar-benar di tengah */
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center; /* Teks di tengah horizontal */
    align-items: center; /* Teks di tengah*/
    border-radius: 10px; /* Membuat sudut melengkung */
    animation: animasi1 2s ease infinite alternate; /* berdurasi 2 detik */
}

@keyframes animasi1 {
    from {
        width: 400px;
        background-color: rgb(231, 11, 235);
    }
    to {
        width: 600px;
        background-color: rgb(237, 226, 237);
    }
}

.produk1{
    display: flex;
    justify-content: center;
    gap: 100px; /* jarak kesamping antar kolom */
    padding: 50px; 
    background-color: #faf1f8;
    border-radius: 100px; 
}
.produk2{
    display: flex;
    justify-content: center;
    gap: 100px; /* jarak kesamping antar kolom */
    padding: 50px; 
    background-color: #fec7f269;
    border-radius: 100px; 
}

.produk3{
    display: flex;
    justify-content: center;
    gap: 100px; /* jarak kesamping antar kolom */
    padding: 50px; 
    background-color: #fec7f28d;
    border-radius: 100px; 
}
.harga{
        margin-top: 10px; /* Memberikan jarak antara gambar dan harga */
        font-size: 16px; /* Ukuran teks harga */
        color: #e41313; /* Warna teks */
        font-weight: bold; /* Menebalkan teks harga */
        justify-content: center;
}